
#adminmenu #toplevel_page_fedex-shipping-labels .menu-icon-generic div.wp-menu-image:before {
  font-family: WooCommerce !important;
  content: "\e019";
  font-size: 1.3em !important;
}


.label-status {
  display: inline-block;
  padding: 5px 10px;
} 
.label-status.label-status-good {
  background-color: #88ff88;
}
.label-status.label-status-error {
  background-color: #ff8888;
}
.label-status.label-status-warning {
  background-color: #ffdd55;
}


.wcfsl-backdrop {
  position: fixed;
  background: #000;
  opacity: 0.7;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
}
.wcfsl-modal {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 300px;
  margin-left: -250px;
  margin-top: -150px;
  z-index: 100001;
}
